In [56]:
import yfinance as yf
import pandas as pd

# Fetch historical data for S&P 500
ticker = "^GSPC"  # S&P 500 index symbol
start_date = "1950-01-01"
end_date = "2016-11-30"

# Download monthly data
data = yf.download(ticker, start=start_date, end=end_date, interval="1mo")


# Drop rows with missing data (if any)
data.dropna(inplace=True)

# Display the first few rows to check the data
print(data.head())

# Compute descriptive statistics
descriptive_stats = {
    "Price": ["Open", "High", "Low", "Close"],
    "Min": [data['Open'].min(), data['High'].min(), data['Low'].min(), data['Close'].min()],
    "Max": [data['Open'].max(), data['High'].max(), data['Low'].max(), data['Close'].max()],
    "Mean": [data['Open'].mean(), data['High'].mean(), data['Low'].mean(), data['Close'].mean()],
    "Std.": [data['Open'].std(), data['High'].std(), data['Low'].std(), data['Close'].std()],
}

# Convert to DataFrame for better visualization
summary_table = pd.DataFrame(descriptive_stats)

# Display the summary statistics
print(summary_table)

[*********************100%%**********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
1985-01-01  167.199997  180.270004  163.360001  179.630005  179.630005
1985-02-01  179.630005  183.949997  177.750000  181.179993  181.179993
1985-03-01  181.179993  183.889999  176.529999  180.660004  180.660004
1985-04-01  180.660004  183.610001  177.860001  179.830002  179.830002
1985-05-01  179.830002  189.979996  178.350006  189.550003  189.550003

                Volume
Date
1985-01-01  2673710000
1985-02-01  2194620000
1985-03-01  2153090000
1985-04-01  1981880000
1985-05-01  2350340000
   Price         Min          Max         Mean        Std.
0   Open  167.199997  2173.149902   969.192478  543.577386
1   High  180.270004  2214.100098  1000.686034  557.155179
2    Low  163.360001  2147.580078   935.889869  526.896105
3  Close  179.630005  2198.810059   974.394776  545.519109

In [58]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1985-01-01,167.199997,180.270004,163.360001,179.630005,179.630005,2673710000
1985-02-01,179.630005,183.949997,177.750000,181.179993,181.179993,2194620000
1985-03-01,181.179993,183.889999,176.529999,180.660004,180.660004,2153090000
1985-04-01,180.660004,183.610001,177.860001,179.830002,179.830002,1981880000
1985-05-01,179.830002,189.979996,178.350006,189.550003,189.550003,2350340000
...,...,...,...,...,...,...
2016-07-01,2099.340088,2177.090088,2074.020020,2173.600098,2173.600098,69530250000
2016-08-01,2173.149902,2193.810059,2147.580078,2170.949951,2170.949951,75610310000
2016-09-01,2171.330078,2187.870117,2119.120117,2168.270020,2168.270020,77023620000
2016-10-01,2164.330078,2169.600098,2114.719971,2126.149902,2126.149902,72915530000
2016-11-01,2128.679932,2214.100098,2083.790039,2198.810059,2198.810059,88445380000